* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(158, 158, 158, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-buttons span {
    position: absolute;
    font-size: 24px;
    color: #f7f7f7;
    background-color: #f44336;
    padding: 15px 25px;
    border-radius: 4px;
    cursor: pointer;
}

.info-container {
    width: 1080px;
    margin: 20px auto;
    background-color: #f6f6f6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}

.memory-game-blocks {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.memory-game-blocks .game-block {
    height: 100px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 200px;
    margin: 0 10px 20px;
}

.memory-game-blocks .game-block .front {
    line-height: 100px;
    background-color: #ccc;
    border-radius: 4px;
}

.memory-game-blocks .game-block .front::before {
    content: '!';
    color: #333;
    font-size: 100px;
    font-weight: bold;
}

.memory-game-blocks .game-block .back {
    transform: rotateY(180deg);
    background-color: #fff;
    border-radius: 4px;
}

.memory-game-blocks .game-block .back img {
    width: 70px;
    height: 70px;
    margin-top: 15px;
}

.memory-game-blocks .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.memory-game-blocks .game-block.is-flipped {
    transform: rotateY(180deg);
}